<html>
    <head>
        <title>Test Content</title>
    </head>
    <body>
        <div class="link-list">
            <a href="/local-url">Local</a>
            <a href="https://www.test-domain.com/another-link">Remote Link</a>
        </div>
    </body>
    <script>
        var test = 1;
    </script>
</html>