<html>
    <head>
        <title>Test Content</title>
    </head>
    <body>
        <div class="link-list">
            <a href="/local-url">Local</a>
            <a href="https://www.test-domain.com/another-link">Remote Link</a>
        </div>
        <script>
            //This is good enough to spoof the crawler that ga is on the page.
            var script = 'gtm.js';
        </script>
        <script>
            var test = 1;
        </script>
    </body>
</html>